<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>765320440143-cm8q6oi2s6b79ka0s4ud7fkgk0p01r5u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.765320440143-cm8q6oi2s6b79ka0s4ud7fkgk0p01r5u</string>
	<key>API_KEY</key>
	<string>AIzaSyDD1oCSFHx22wa7I2mFJSqIDhBdSlsMSDs</string>
	<key>GCM_SENDER_ID</key>
	<string>765320440143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app</string>
	<key>PROJECT_ID</key>
	<string>ateek-rosa</string>
	<key>STORAGE_BUCKET</key>
	<string>ateek-rosa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:765320440143:ios:3423e302c34294621b3d3a</string>
</dict>
</plist>